{erl_opts, [debug_info]}.
{deps, [  
{cowboy,{git,"https://github.com/ninenines/cowboy",{tag, "2.11.0"}}},
{jiffy, {git, "https://github.com/davisp/jiffy.git", {branch, "master"}}},
{gen_smtp,{git,"https://github.com/gen-smtp/gen_smtp.git",{branch,"master"}}}]}.

{shell, [
  {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},
    {dev_mode, true},
    {include_erts, true},
    {apps, [film_booking,cowboy,jiffy,gen_smtp]}
]}.

{relx, [{release, {film_booking,"0.1.0"},[film_booking]},
  [film_booking],
  {sys_config, "./config/sys.config"},
  {vm_args, "./config/vm.args"},
  {dev_mode, true},
  {include_erts, true}]}.
